@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  display: flex;
  gap: 2rem;
  /* align-items: center; */
}

.container {
  display: inline-block;
  background-color: rgb(191, 255, 234);
  padding: 2.3rem;
  margin: 1.5rem;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.301);
  width: 350px;
}

.container .date,
.container .time {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.container .date {
  margin-bottom: 12px;
  font-size: 28px;
}

.container .time {
  font-size: 22px;
  margin-bottom: 8px;
}

.container .weekday {
  font-size: 46px;
}

.second-container {
  margin: 1.3rem 0;
}

.minute-container {
  margin-bottom: 1.3rem;
}

.second-container #bar,
.minute-container #minute-bar,
.hour-container #hour-bar {
  margin-top: 7px;
  height: 20px;
  width: 400px;
  border: 1px solid black;
  border-radius: 4px;
}

.second-container #bar div,
.minute-container #minute-bar div,
.hour-container #hour-bar div {
  height: 100%;
  border-radius: 4px;
  width: 100%;
  transition: 0.3s;
  background-color: rgb(10, 243, 2);
}
